# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space

[*.{js,ts,jsx,tsx,json}]
indent_size = 2

[*.{yaml,yml}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4

[{deno.json,package.json}]
indent_style = space
indent_size = 2
